* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.guessInput {
  border: 1px solid rgb(233, 233, 233);
  border-radius: 3px;
  padding: 1rem;
  margin-top: 1rem;
  width: 5rem;
  font-size: 1.5rem;
}
.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
  font-size: 1.2rem;
}
.button {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #2058ff;
  color: white;
  border: none;
  border-radius: 0.2rem;
  padding: 1rem;
  margin-top: 1rem;
  width: 7rem;
  font-weight: 700;
  cursor: pointer;
}
.button:hover {
  background-color: #1b4ee3;
}
.button:disabled {
  background-color: #b9b9b9;
  color: gray;
}
.button.reset {
  background-color: #ffda4b;
  color: black;
}
.button.reset:hover {
  background-color: #f4d046;
}

.result {
  padding: 1.5rem;
  border-radius: 0.2rem;
  margin-top: 2rem;
  font-size: 1rem;
  display: none;
}
.result.wrong {
  color: rgb(216, 43, 43);
  background-color: rgb(252, 204, 204);
  border: 1px solid rgb(247, 189, 189);
}
.result.success {
  background-color: rgb(204, 252, 220);
  color: rgb(24, 168, 48);
  border: 1px solid rgb(162, 243, 175);
}